<h1>Create a Chat Room!</h1>
<br>
<a href='{{url_for("homepage", username="session['username']")}}'>Click here to return to homepage!</a>
<br>
<br>
<a href='{{url_for("logout")}}'>Click here to return to return to login!</a>
<br>
{% extends "base.html" %}

{% block title %}Create Chat! - {{ super() }}{% endblock %}

{% block body %}
	<ul>
		<form action="" method="post">
			Chat Room Name:  <input type="text" name="name" />
			<br />
			<input type="submit" value="submit" />
		</form>
	</ul>
	<h3>List of Chat Rooms:</h3>
<ul>
	{% for e in list %}
	<div style="font-size:18px">
        <li>Chat Room: {{e}}</li>
        <li>Chat Room Host: {{list[e]}}</li>
	</div>
	<br>
	<br>
		{% endfor %}
</ul>
{% endblock %}
